<style>
 .container {
   display: grid;
   /* 세로로 200픽셀씩 자릅니다. */
   grid-template-columns: 200px 200px;
    width: 30px; height: 30px;
 }

 [class *= cell] {
   box-sizing: border-box;
   border: 2px solid black;
   border-radius: 10px;
   padding: 20px;
   /* 각각의 요소들이 눈에 보이도록 입력하였습니다. */
 }

  .container {
    display: grid; 
    /* CSS3 그리드 레이아웃을 선언합니다. */
  }

</style>